[Desktop Entry]
Type=Service
ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=tdewalletd
X-TDE-FactoryName=tdewalletd
X-TDE-Kded-autoload=false
X-TDE-Kded-load-on-demand=true
Name=TDEWallet Daemon Module
Name[af]=KBeursie Bediener Module
Name[ar]=مراقب وحدة TDEWallet
Name[az]=TDEWallet Demon Modulu
Name[be]=Модуль сервіса TDEWallet
Name[bg]=Демон Портфейл
Name[bn]=কে-ওয়ালেট ডিমন মডিউল
Name[br]=Mollad an diaoul TDEWallet
Name[ca]=Mòdul del dimoni TDEWallet
Name[cs]=Modul démona TDEWallet
Name[csb]=Pòrtfel
Name[cy]=Modiwl Daemon KWaled
Name[da]=TDEWallet Dæmonmodul
Name[de]=Digitale Brieftasche
Name[el]=Άρθρωμα δαίμονα TDEWallet
Name[eo]=Sekreteja demono-modulo
Name[es]=Módulo de demonio TDEWallet
Name[et]=TDEWalleti deemoni moodul
Name[eu]=TDEWallet daemon modulua
Name[fa]=پیمانه شبح TDEWallet
Name[fi]=TDEWallet-palvelinmoduuli
Name[fr]=Module démon TDEWallet
Name[ga]=Modúl Deamhain TDEWallet
Name[gl]=Módulo do Demo TDEWallet
Name[he]=מודול תהליך הרקע של TDEWallet
Name[hi]=केवैलट डेमन मॉड्यूल
Name[hr]=Modul TDEWallet demona
Name[hu]=TDEWallet szolgáltatás
Name[id]=Modul Daemon TDEWallet
Name[is]=TDEWallet þjónseining
Name[it]=Modulo demone TDEWallet
Name[ja]=TDEWallet デーモンモジュール
Name[ka]=TDEWallet გუშაგის მოდული
Name[kk]=TDEWallet әмиян қызметтің модулі
Name[km]=ម៉ូឌុល Daemon TDEWallet
Name[ko]=K지갑 데몬 모듈
Name[lb]=TDEWallet-Dämonmodul
Name[lt]=TDE slaptažodinių tarnybos modulis
Name[lv]=TDEWallet Dēmona Modulis
Name[mn]=TDEWallet Daemon Модул
Name[ms]=Modul Daemon TDEWallet
Name[nb]=TDEWallet nisseprogramtillegg
Name[nds]=TDEWallet-Dämoon
Name[ne]=TDEWallet डेइमन मोड्युल
Name[nl]=TDEWallet daemon-module
Name[nn]=TDEWallet-nissemodul
Name[pa]=TDEWallet ਪੇਸ਼ਕਾਰੀ ਮੈਡੀਊਲ
Name[pl]=Portfel
Name[pt]=Módulo do Servidor do TDEWallet
Name[pt_BR]=Módulo do Serviço do TDEWallet
Name[ro]=Modul demon TDEWallet
Name[ru]=Служба бумажника
Name[rw]=Igice Dayimoni KUruhago
Name[se]=TDEWallet-bálvámoduvla
Name[sk]=Modul démona TDEWallet
Name[sl]=Modul demona TDEListnica
Name[sq]=Demoni për Modulin TDEWallet
Name[sr]=TDEWallet демон модул
Name[sr@Latn]=TDEWallet demon modul
Name[sv]=Kwallet-demonmodul
Name[ta]=TDEWallet டெமான் பகுதி
Name[te]=కెవాలెట్ సూత్రధారి మాడ్యూల్
Name[tg]=Модули Демон TDEWallet
Name[th]=โมดูลเดมอน TDEWallet
Name[tr]=TDEWallet Program Modülü
Name[tt]=TDEWallet Xezmäteneñ Modulı
Name[uk]=Модуль демону TDEWallet
Name[uz]=TDEWallet xizmatining moduli
Name[uz@cyrillic]=TDEWallet хизматининг модули
Name[vi]=Mô-đun trình nền TDEWallet
Name[zh_CN]=TDEWallet 守护进程模块
Name[zh_HK]=KWAllet 伺服程式模組
Name[zh_TW]=KWAllet 服務程式模組
Comment=TDEWallet daemon module for KDED
Comment[af]=KBeursie bediener module vir KDED
Comment[be]=Модуль сервіса TDEWallet для KDED
Comment[bg]=Модул демон за системата Портфейл за KDED
Comment[bn]=KDED-র জন্য কে-ওয়ালেট ডিমন মডিউল
Comment[br]=Mollad an diaoul TDEWallet evit KDED
Comment[bs]=TDEWallet daemon modul za KDED
Comment[ca]=Mòdul del dimoni TDEWallet per a KDED
Comment[cs]=Modul démona TDEWallet pro KDED
Comment[csb]=Mòduł TDEWallet w KDED
Comment[da]=TDEWallet Dæmonmodul for KDED
Comment[de]=Unterstützung für die digitale Brieftasche "TDEWallet"
Comment[el]=Άρθρωμα δαίμονα TDEWallet για το KDED
Comment[eo]=Sekreteja demono-modulo por KDED
Comment[es]=Módulo de demonio TDEWallet para KDED
Comment[et]=KDED TDEWalleti deemoni moodul
Comment[eu]=TDEWallet daemon modulua KDEDrako
Comment[fa]=پیمانۀ شبح TDEWallet برای KDED
Comment[fi]=TDEWallet palvelinmoduuli KDED:lle
Comment[fr]=Module démon TDEWallet pour KDED
Comment[fy]=TDEWallet daemon module foar KDED
Comment[ga]=Modúl deamhain TDEWallet le haghaidh KDED
Comment[gl]=Demo de TDEWallet para KDED
Comment[he]=מודול תהליך רקע של TDEWallet עבור KDED
Comment[hi]=केडीईडी के लिए के-वॉलेट डेमन मॉड्यूल
Comment[hr]=TDEWallet demon modul za KDED
Comment[hu]=TDEWallet szolgáltatásmodul a KDED-hez
Comment[id]=Modul daemon TDEWallet untuk KDED
Comment[is]=TDEWallet þjónseining fyrir KDED
Comment[it]=Modulo demone TDEWallet per KDED
Comment[ja]=KDED 用の TDEWallet デーモンモジュール
Comment[ka]=KSSL მოდული TDE-სთვის
Comment[kk]=TDE TDEWallet әмиянін басқару қызметтің модулі
Comment[km]=ម៉ូឌុល daemon TDEWallet សម្រាប់ KDED
Comment[lb]=TDEWallet-Dämonmodul fir KDED
Comment[lt]=TDE slaptažodinių tarnybos modulis skirtas KDED
Comment[lv]=TDEWallet Dēmona Modulis priekš KDED
Comment[mk]=TDEWallet даемон модул за KDED
Comment[ms]=Modul Daemon TDEWallet untuk KDED
Comment[nb]=TDEWallet nissemodul for KDED
Comment[nds]=TDEWallet-Dämoonmoduul för KDED
Comment[ne]=KDED का लागि डेइमन मोड्युल TDEWallet
Comment[nl]=TDEWallet daemon-module voor KDED
Comment[nn]=TDEWallet-nissemodul for KDED
Comment[pa]=KDED ਲਈ TDEWallet ਪੇਸ਼ਕਾਰੀ ਮੈਡੀਊਲ
Comment[pl]=Moduł TDEWallet w KDED
Comment[pt]=Módulo servidor do TDEWallet para o KDED
Comment[pt_BR]=Módulo do serviço de carteira para o TDE
Comment[ro]=Modul demon TDEWallet pentru KDED
Comment[ru]=Управление бумажником TDE
Comment[rw]=Igice cya dayimoni KUruhago cya KDED
Comment[se]=KDED:a TDEWallet-bálvámoduvla
Comment[sk]=Modul démona TDEWallet pre KDED
Comment[sl]=Modul demona TDEListnica za KDED
Comment[sr]=TDEWallet демон модул за KDED
Comment[sr@Latn]=TDEWallet demon modul za KDED
Comment[sv]=Kwallet-demonmodul för KDED
Comment[ta]=KDEDக்கான TDEWallet Daemon  தொகுதி
Comment[te]=కెడిఈడి కొరకు కెవాలెట్ సూత్రధారి మాడ్యూల్
Comment[tg]=Модули Демон TDEWallet барои KDED
Comment[th]=โมดูลเดมอน TDEWallet สำหรับ KDED
Comment[tr]=KDED için TDEWallet program modülü
Comment[tt]=KDED öçen TDEWallet xezmäteneñ modulı
Comment[uk]=Модуль демону торбинок TDEWallet для KDED
Comment[uz]=KDED uchun TDEWallet xizmatining moduli
Comment[uz@cyrillic]=KDED учун TDEWallet хизматининг модули
Comment[vi]=Mô-đun trình nền TDEWallet cho KDED.
Comment[zh_CN]=KDED 的 TDEWallet 守护进程模块
Comment[zh_HK]=KDED 的 TDEWallet 伺服程式模組
Comment[zh_TW]=KDED 的 TDEWallet 服務程式模組
