[Desktop Entry]
Name=tdeab2tdeabc
Name[af]=kab-na-tdeabc
Name[csb]=Kònwersëjô adresowi knéżczi
Name[eo]=Konvertilo de "kab" al "tdeabc"
Name[fr]=KAB2KABC
Name[fy]=Kab2kabc
Name[hu]=Kab2kabc
Name[it]=Kab2Kabc
Name[nl]=Kab2kabc
Name[pl]=Konwersja książki adresowej
Name[pt_BR]=Conversão de  kab para tdeabc
Name[ro]=Kab2kabc
Name[sv]=Kab2kabc
Name[te]=కెఎబి2కెఎబిసి
Name[zu]=i-tdeab2tdeabc
Exec=tdeab2tdeabc --disable-autostart --quiet
Icon=misc
Type=Application
Comment=libkab to libtdeabc conversion tool.
Comment[af]=libkab na libtdeabc omskakeling program.
Comment[ar]=أداة تحويل libkab إلى libtdeabc.
Comment[az]=libkab - libtdeabc dönüşdürmə vasitəsi.
Comment[be]=Інструмент пераўтварэння libkab у libtdeabc.
Comment[bg]=Програма за конвертиране на libkab до libtdeabc.
Comment[bn]=libkab থেকে libtdeabc-তে পরিবর্তন করার প্রোগ্রাম।
Comment[bs]=alat za pretvaranje libkab u libtdeabc.
Comment[ca]=Eina de conversió de libkab a libtdeabc.
Comment[cs]=Převod dat z libkab do libtdeabc.
Comment[csb]=Nôrzãdze do kònwersëji z libkab do libtdeabc.
Comment[cy]=erfyn trosi libkab i libtdeabc
Comment[da]=libkab-til-libtdeabc-konverteringsværktøj.
Comment[de]=Konvertierung von libkab in libtdeabc
Comment[el]=Εργαλείο μετατροπής από το libkab στο libtdeabc.
Comment[eo]=Konvertilo de "libkab" al "libtdeabc"
Comment[es]=Conversor libkab a libtdeabc.
Comment[et]=libkab -> libtdeabc teisendamine
Comment[eu]=libkab-etik libtdeabc-era bihurtzeko tresna.
Comment[fa]=ابزار تبدیل libkab به libcabc.
Comment[fi]=libkab-libtdeabc -muunnin
Comment[fr]=Outil de conversion de libkab vers libtdeabc.
Comment[fy]=Konversjeprogramma fan libkab nei libtdeabc.
Comment[ga]=Uirlis tiontaithe ó libkab go libtdeabc.
Comment[gl]=Ferramenta de conversión de libkab a libtdeabc.
Comment[he]=כלי המרה מ־libkab ל־libtdeabc
Comment[hi]=libkab से libtdeabc बदलने वाला औजार
Comment[hr]=Alat za pretvaranje iz libkab u libtdeabc
Comment[hsb]=libkab -> libtdeabc konwerter
Comment[hu]=libkab -> libtdeabc konvertáló.
Comment[id]=konverter libkab ke libtdeabc.
Comment[is]=libkab í libtdeabc breytingatól.
Comment[it]=Strumento di conversione da libkab a libtdeabc.
Comment[ja]=libkab から libtdeabc への変換ツール
Comment[ka]=libkab => libtdeabc გარდაქმნის ხელსაწყო.
Comment[kk]=libkab дегеннен libtdeabc дегенге айналдыру құралы.
Comment[km]=ឧបករណ៍​បម្លែង​ពី libkab ទៅ libtdeabc
Comment[ko]=libkab을 libtdeabc로 바꿔주는 연장.
Comment[lb]=libkab op libtdeabc Konvertéierungs-Hëllefsmëttel.
Comment[lt]=libkab į libtdeabc konvertavimo įrankis.
Comment[lv]=libkab uz libtdeabc kovertēšanas rīks.
Comment[mk]=алатка за претворање од libkab во libtdeabc.
Comment[mn]=libkab-аас libtdeabc-руу хөрвүүлэгч
Comment[ms]=perkakasan penukaran libkab to libtdeabc.
Comment[mt]=Għodda għall-konverżjoni libkab għal libtdeabc
Comment[nb]=libkab til libtdeabc konverteringsverktøy.
Comment[nds]=Warktüüch för't Ümwanneln vun libkab na libtdeabc.
Comment[ne]=libkab to libtdeabc रूपान्तरण उपकरण ।
Comment[nl]=Conversieprogramma van libkab naar libtdeabc.
Comment[nn]=Konverterer libkab til libtdeabc
Comment[nso]=Sebereka sa phetosetso ya libkab go libtdeabc
Comment[pa]=libkab ਤੋ libtdeabc ਤਬਦੀਲੀ ਸੰਦ।
Comment[pl]=Narzędzie do konwersji z libkab do libtdeabc.
Comment[pt]=Ferramenta de conversão de libkab para libtdeabc.
Comment[pt_BR]=Ferramenta de conversão de libkab para libtdeabc.
Comment[ro]=Utilitar de conversie de la "libkab" la "libtdeabc".
Comment[ru]=утилита преобразования libkab в libtdeabc.
Comment[rw]=Igikoresho cy'ihindura libkab muri libtdeabc.
Comment[se]=konverterenreaidu libkab:as libtdeabc:ai
Comment[sk]=Prevod dát z libkab do libtdeabc.
Comment[sl]=Orodje za pretvorbo iz libkab v libtdeabc
Comment[sq]=Vegla për shëndrimin e libkab në libtdeabc.
Comment[sr]=Алат за конверзију из libkab-а у libtdeabc.
Comment[sr@Latn]=Alat za konverziju iz libkab-a u libtdeabc.
Comment[ss]=Lithulusi lekutjintja le-libkab kuya ku-libtdeabc.
Comment[sv]=Konverteringsverktyg från libkab till libtdeabc
Comment[ta]=libkab இலிருந்து libtdeabc க்கு மாற்றும் கருவி.
Comment[te]=libkab నుంచి libtdeabc కు మార్చు పనిముట్టు
Comment[tg]=асбоби дигаргунсози libkab ба libtdeabc
Comment[th]=เครื่องมือเปลี่ยน libkab เป็น libtdeabc
Comment[tr]=libkab' tan libtdeabc' ye dönüştürme aracı
Comment[tt]=libkab-›libtdeabc äyländerü qoralı.
Comment[uk]=Засіб перетворення libkab до libtdeabc.
Comment[uz]=libkab'ni libtdeabc'ga aylantiradigan vosita.
Comment[uz@cyrillic]=libkab'ни libtdeabc'га айлантирадиган восита.
Comment[ven]=Tshishumiswa tsha u shandukisa libkab itshi ya kha libtdeabc
Comment[vi]=Công cụ chuyển đổi libkab sang libtdeabc.
Comment[xh]=libkab kwi libtdeabc isixhobo sokuguqulela.
Comment[zh_CN]=libkab 到 libtdeabc 的转换工具。
Comment[zh_HK]=libkab 至 libtdeabc 的轉換工具
Comment[zh_TW]=libkab 至 libtdeabc 轉換工具
Comment[zu]=Ithuluzi lokuguqula le-libkab kuyaku-libtdeabc
Terminal=false
NoDisplay=true
X-TDE-autostart-condition=tdeab2tdeabcrc:Startup:EnableAutostart:true
OnlyShowIn=TDE;
