[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KDEDModule

X-KDE-ModuleType=Library
X-KDE-Library=volumecontrold
X-KDE-FactoryName=volumecontrold
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true

Name=Volume Control
Comment=volume control daemon module for KDED
