[Desktop Entry]
Type=Service
X-TDE-ServiceTypes=KSpell/Client
X-TDE-Library=tdespell_aspell
X-TDE-PluginInfo-Author=Zack Rusin
X-TDE-PluginInfo-Email=zack@kde.org
X-TDE-PluginInfo-Name=tdespell_aspell
X-TDE-PluginInfo-Version=0.0.1
X-TDE-PluginInfo-Website=http://www.kde.org
X-TDE-PluginInfo-Category=Clients
X-TDE-PluginInfo-Depends=
X-TDE-PluginInfo-License=LGPL
X-TDE-PluginInfo-EnabledByDefault=true
Name=ASpell
Name[bn]=এ-স্পেল
Name[hi]=आ-स्पैल
Name[it]=Aspell
Name[ne]=ए स्पेल
Name[sv]=Aspell
Name[ta]=psதேர்ந்தெடு
Name[te]=ఏస్పెల్
