[Desktop Entry]
Type=Service

ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=tdeprintd
X-TDE-FactoryName=tdeprintd
X-TDE-Kded-autoload=false
X-TDE-Kded-load-on-demand=true

Name=TDE Print Daemon
Name[af]=TDE Druk Bediener
Name[ar]=مراقب طباعة كيدي
Name[az]=TDE Çap Demonu
Name[be]=Дэман друку TDE
Name[bg]=Демон за печат в TDE
Name[bn]=কে.ডি.ই মুদ্রণ ডিমন
Name[br]=Diaoul moulañ TDE
Name[bs]=TDE Print Deamon
Name[ca]=Dimoni d'impressió del TDE
Name[cs]=Tiskový démon TDE
Name[csb]=Drëkòwanié
Name[cy]=Daemon Argraffu TDE
Name[da]=TDE's udskriftsdæmon
Name[de]=Druckdienst
Name[el]=Δαίμονας εκτυπώσεων του TDE
Name[eo]=Preso-demono
Name[es]=Demonio de impresión de TDE
Name[et]=TDE trükkimise deemon
Name[eu]=TDEren inprimatze-daemona
Name[fa]=شبح چاپ TDE
Name[fi]=TDE:n tulostuspalvelin
Name[fr]=Démon d'impression de TDE
Name[fy]=TDE ôfdruk Daemon
Name[ga]=Deamhan Priontála TDE
Name[gl]=Demo de Impresión de TDE
Name[he]=תהליך הרקע הדפסה של TDE
Name[hi]=केडीई छपाई ङेमन
Name[hr]=TDE demon za ispis
Name[hsb]=TDE ćišćenski demon
Name[hu]=TDE nyomtatószolgáltatás
Name[id]=Daemon TDE Write
Name[is]=TDE prentþjónn
Name[it]=Demone di stampa TDE
Name[ja]=TDE 印刷デーモン
Name[ka]=TDE-ს ბეჭდვის მოდული
Name[kk]=TDE басып шығару қызметі
Name[km]=Daemon បោះពុម្ព TDE
Name[ko]=TDE 인쇄 데몬
Name[lb]=TDE-Dréck-Dämon
Name[lt]=TDE spausdinimo tarnyba
Name[lv]=TDE Drukas Dēmons
Name[mn]= КДЭ Хэвлэх программ
Name[ms]=Daemon Cetak TDE
Name[mt]=Proċess tal-ipprintjar TDE
Name[nb]=TDE-utskriftsnisse
Name[nds]=TDE-Druckdämoon
Name[ne]=TDE मुद्रण डेइमन
Name[nn]=TDE-utskriftsnisse
Name[nso]=Daemon ya Kgatiso ya TDE
Name[pa]=TDE ਪ੍ਰਿੰਟਰ ਡਾਈਮੋਨ
Name[pl]=Drukowanie
Name[pt]=Servidor de Impressão do TDE
Name[pt_BR]=Serviço de Impressão do TDE
Name[ro]=Demon de tipărire TDE
Name[ru]=Служба печати
Name[rw]=Dayimoni yo Gucapa TDE
Name[se]=TDE čálihanbálvá
Name[sk]=TDE démon tlače
Name[sl]=Tiskalniški strežnik za TDE
Name[sq]=TDE Demoni për Shypje
Name[sr]=TDE-ов демон за штампање
Name[sr@Latn]=TDE-ov demon za štampanje
Name[ss]=Lidimoni lekushicilela ku TDE
Name[sv]=TDE:s skrivardemon
Name[ta]=கேமேசைச் சூழல் அச்சு டேமன்
Name[te]=కెడిఈ ప్రచురణ సూత్రధారి
Name[tg]=Демони чопи TDE
Name[th]=โปรแกรมเฝ้าดูการพิมพ์ของ TDE
Name[tr]=TDE Yazdırma Programı
Name[tt]=TDE Bastıru Xezmäte
Name[uk]=Демон друку TDE
Name[uz]=TDE bosib chiqarish xizmati
Name[uz@cyrillic]=TDE босиб чиқариш хизмати
Name[ven]=Daemon yau phirintha ya TDE
Name[vi]=Trình nền in TDE
Name[wa]=Démon d' imprimaedje di TDE
Name[xh]=Daemon Yoshicilelo lwe TDE
Name[zh_CN]=TDE 打印守护进程
Name[zh_HK]=TDE 列印伺服程式
Name[zh_TW]=TDE 列印伺服程式
Name[zu]= I-Daemon Yokushicilela kwe-TDE
Comment=Print daemon for TDE
Comment[af]=Druk Bediener vir TDE
Comment[bg]=Демон за печат в TDE
Comment[bn]=কে.ডি.ই-র মুদ্রণ ডিমন
Comment[br]=Diaoul moulañ evit TDE
Comment[bs]=Demon za štampu za TDE
Comment[ca]=Dimoni d'impressió per al TDE
Comment[cs]=Tiskový démon TDE
Comment[csb]=Drëkòwanié w TDE
Comment[da]=Udskriftsdæmon for TDE
Comment[de]=Die TDE-Druckdienste "TDEPrint"
Comment[el]=Ένας δαίμονας εκτυπώσεων για το TDE
Comment[eo]=Presodemono por TDE
Comment[es]=Demonio de impresión para TDE
Comment[et]=TDE trükkimise deemon
Comment[eu]=TDEren inprimatze-daemona
Comment[fa]=شبح چاپ برای TDE
Comment[fi]=TDE:n tulostuspalvelin
Comment[fr]=Un démon d'impression pour TDE
Comment[fy]=ôfdruk deamon foar TDE
Comment[ga]=Deamhan priontála le haghaidh TDE
Comment[gl]=Un Demo de Impresión para TDE
Comment[he]=תהליך רקע של TDE להדפסה
Comment[hi]=केडीई के लिए एक छपाई डेमन
Comment[hr]=TDE demon za ispisivanje
Comment[hsb]=TDE ćišćenski demon
Comment[hu]=Nyomtatószolgáltatás a TDE-hez
Comment[id]=Daemon pencetakan TDE
Comment[is]=Prentþjónn fyrir TDE
Comment[it]=Demone di stampa per TDE
Comment[ja]=TDE のための印刷デーモン
Comment[ka]=TDE-ს ბეჭდვის მოდული
Comment[kk]=TDE-нің басып шығару қызметі
Comment[km]=Daemon បោះពុម្ព​របស់ TDE
Comment[lb]=Dréck-Dämon fir TDE
Comment[lt]=Spausdinimo tarnyba, skirta TDE
Comment[lv]=Drukas Dēmons priekš TDE
Comment[mk]=TDE даемон за печатење
Comment[ms]=Daemon Cetak untuk TDE
Comment[nb]=Utskriftsnisse for TDE
Comment[nds]=En Druck-Dämoon för TDE
Comment[ne]=TDE का लागि डेइमन मुद्रण गर्नुहोस्
Comment[nl]=Printer-daemon voor TDE
Comment[nn]=Utskriftsnisse for TDE
Comment[pa]=TDE ਲਈ ਪ੍ਰਿੰਟਰ ਡਾਈਮੋਨ
Comment[pl]=Drukowanie w TDE
Comment[pt]=Servidor de impressão para o TDE
Comment[pt_BR]=Serviço de Impressão para o TDE
Comment[ro]=Demon de tipărire TDE
Comment[ru]=Служба печати TDE
Comment[rw]=Dayimoni yo gucapa ya TDE
Comment[se]=TDE:a čálihanbálvá
Comment[sk]=Démon tlače pre TDE
Comment[sl]=Tiskalniški strežnik za TDE
Comment[sr]=TDE-ов демон за штампање
Comment[sr@Latn]=TDE-ov demon za štampanje
Comment[sv]=Skrivardemon för TDE
Comment[ta]=கேடிஇக்கான ஒரு அச்ச் டெமான்
Comment[te]=కెడిఈ కొరకు సూత్రధారి
Comment[tg]=Демони чопи TDE
Comment[th]=เดมอนระบบการพิมพ์สำหรับ TDE
Comment[tr]=TDE için bir yazdırma programı
Comment[tt]=TDE öçen bastıru xezmäte
Comment[uk]=Демон друку TDE
Comment[uz]=TDE uchun bosib chiqarish xizmati
Comment[uz@cyrillic]=TDE учун босиб чиқариш хизмати
Comment[vi]=Trình nền in cho môi trường TDE.
Comment[zh_CN]=TDE 的打印守护进程
Comment[zh_HK]=TDE 的列印伺服程式
Comment[zh_TW]=TDE 的列印服務程式
