[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KParts/ReadOnlyPart
X-KDE-Derived=KPart
Comment=TDE Component
Comment[af]=Tde Komponent
Comment[ar]=عنصر كيدي
Comment[az]=TDE Komponenti
Comment[be]=Кампанент TDE
Comment[bn]=কে.ডি.ই. উপাদান
Comment[br]=Parzhioù TDE
Comment[bs]=TDE komponenta
Comment[ca]=Component del TDE
Comment[cs]=Komponenta TDE
Comment[csb]=Kòmpònent TDE
Comment[cy]=Cydran TDE
Comment[da]=TDE-komponent
Comment[de]=TDE-Komponente
Comment[el]=Στοιχείο του TDE
Comment[eo]=PDF-komponento
Comment[es]=Componente de TDE
Comment[et]=TDE komponent
Comment[eu]=TDEren osagaia
Comment[fa]=مؤلفۀ TDE
Comment[fi]=TDE-komponentti
Comment[fr]=Composant de TDE
Comment[fy]=TDE-komponint
Comment[ga]=Comhpháirt TDE
Comment[gl]=Compoñente de TDE
Comment[he]=רכיב TDE
Comment[hi]=केडीई के घटक
Comment[hr]=TDE komponenta
Comment[hu]=TDE-komponens
Comment[id]=Komponen TDE
Comment[is]=TDE eining
Comment[it]=Componente TDE
Comment[ja]=TDE コンポーネント
Comment[ka]=TDE კომპონენტი
Comment[kk]=TDE компоненті
Comment[km]=សមាសភាគ TDE
Comment[ko]=TDE 구성 요소
Comment[lb]=TDE-Komponent
Comment[lt]=TDE komponentas
Comment[lv]=TDE Komponente
Comment[mk]=TDE компонента
Comment[mn]=TDE-бүрдэл хэсэг
Comment[ms]=Komponen TDE
Comment[mt]=Komponent tal-TDE
Comment[nb]=TDE-komponent
Comment[nds]=TDE-Komponent
Comment[ne]=TDE अवयव
Comment[nl]=TDE-component
Comment[nn]=TDE-komponent
Comment[nso]=Seripa sa TDE
Comment[oc]=Composant TDE
Comment[pa]=TDE ਭਾਗ
Comment[pl]=Składnik TDE
Comment[pt]=Componente TDE
Comment[pt_BR]=Componente TDE
Comment[ro]=Componentă TDE
Comment[ru]=Компонент TDE
Comment[rw]=Inyangingo TDE
Comment[se]=TDE oassi
Comment[sk]=TDE komponent
Comment[sl]=Komponenta TDE
Comment[sq]=Komponent i TDE-s
Comment[sr]=TDE-ова компонента
Comment[sr@Latn]=TDE-ova komponenta
Comment[ss]=Incenye ye TDE
Comment[sv]=TDE-komponent
Comment[ta]=கேடிஇ பகுதி
Comment[te]=కెడిఈ అంశం
Comment[tg]=Қисмати TDE
Comment[th]=ส่วนประกอบของ TDE
Comment[tr]=TDE Bileşeni
Comment[tt]=TDE Öleşe
Comment[uk]=Компонент TDE
Comment[uz]=TDE komponenti
Comment[uz@cyrillic]=TDE компоненти
Comment[ven]=Khomphonente ya TDE
Comment[vi]=Thành phần TDE.
Comment[xh]=Ingxenye ye TDE
Comment[zh_CN]=TDE 部件
Comment[zh_HK]=TDE 元件
Comment[zh_TW]=TDE 元件
Comment[zu]=Ingxenye ye-TDE
