[Desktop Entry]
Type=MimeType
MimeType=video/x-flv
Icon=video-x-generic
Comment=Flash Video
Comment[ar]=ملف فيديو Flash
Comment[be]=Відэафайл Flash
Comment[bg]=Flash видео файл
Comment[br]=Video Flash
Comment[bs]=Flash video
Comment[ca]=Vídeo Flash
Comment[cs]=Video ve formátu Flash
Comment[csb]=Film w fòrmace Flash
Comment[cy]=Fideo Flash
Comment[el]=Βίντεο Flash
Comment[eo]=Flash-video
Comment[es]=Vídeo de Flash
Comment[et]=Flash videofail
Comment[eu]=Flash bideoa
Comment[fa]=ویدیو Flash
Comment[fi]=Flash-video
Comment[fr]=Vidéo Flash
Comment[fy]=Flash Fideo
Comment[ga]=Físeán Flash
Comment[gl]=Vídeo Theroa
Comment[he]=סרט Flash
Comment[hr]=Flash video
Comment[hu]=Flash-videó
Comment[id]=Video Flash
Comment[is]=Flash kvikmynd
Comment[it]=Video Flash
Comment[ja]=Flash ビデオ
Comment[ka]=Flash ვიდეოფაილი
Comment[kk]=Flash бейнефайлы
Comment[km]=Flash វីដេអូ
Comment[lb]=Flash-Video
Comment[mk]=Flash-видео
Comment[mn]=Flash Видео
Comment[ms]=Video Flash
Comment[nb]=Flash-video
Comment[nds]=Flash-Video
Comment[nl]=Flash-video
Comment[nn]=Flash-video
Comment[pa]=Flash ਵੀਡਿਓ
Comment[pl]=Film w formacie Flash
Comment[pt]=Vídeo Flash
Comment[pt_BR]=Vídeo Flash
Comment[ro]=Fişier video Flash
Comment[ru]=Видеофайл Flash
Comment[rw]=Flash Inyerekanamashusho
Comment[se]=Flash-video
Comment[sk]=Video Flash
Comment[sl]=Video Flash
Comment[sr]=Flash видео
Comment[sr@Latn]=Flash video
Comment[sv]=Flash-video
Comment[tg]=Видеофайли Flash
Comment[th]=วิดีโอ Flash
Comment[tr]=Flash Video Dosyası
Comment[uk]=Відео Flash
Comment[uz]=Flash video
Comment[uz@cyrillic]=Flash видео
Comment[vi]=Ảnh động Flash
Comment[wa]=Videyo Flash
Comment[zh_CN]=Flash 文件
Comment[zh_HK]=Flash 視像檔
Comment[zh_TW]=Flash 視頻檔案
