<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="khtmlpart" version="5">
<MenuBar>
 <Menu name="edit"><text>&amp;Edit</text>
  <Action name="selectAll" />
  <Separator />
  <Action name="tqfind" />
  <Action name="tqfindNext" />
  <Action name="tqfindPrevious" />
  <Action name="tqfindAheadText" />
  <Action name="tqfindAheadLink" />
 </Menu>
</MenuBar>
<ActionProperties>
</ActionProperties>
</kpartgui>
