<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="tdehtmlpart" version="7">
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
 <Action name="decFontSizes" />
 <Separator />
 <Action name="security" />
</ToolBar>
</kpartgui>
