[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=KPluginInfo
Name=TDE Plugin Information
Name[af]=TDE Inprop module Informasie
Name[ar]=معلومات ملحقات كيدي
Name[az]=TDE Əlavə Mə'lumatı
Name[be]=Звесткі аб дадатках TDE
Name[bg]=Информация за приставките в TDE
Name[bn]=কে.ডি.ই. প্লাগ-ইন তথ্য
Name[br]=Titouroù al lugent TDE
Name[bs]=TDE informacije o dodatku
Name[ca]=Connector informatiu de TDE
Name[cs]=Informace o pluginu TDE
Name[csb]=Wëdowiédzô ò pluginsach TDE
Name[cy]=Gwybodaeth Ategynnau TDE
Name[da]=TDE's plugin-information
Name[de]=TDE-Modul-Information
Name[el]=Πληροφορίες πρόσθετου TDE
Name[eo]=TDEa kromaĵinformo
Name[es]=Información de los plugin de TDE
Name[et]=TDE plugina info
Name[eu]=TDEren plugin-en informazioa
Name[fa]=اطلاعات وصلۀ TDE
Name[fi]=TDE:n lisäosatiedot
Name[fr]=Information sur le module TDE
Name[fy]=TDE Plugin ynformaasje
Name[ga]=Eolas Bhreiseán TDE
Name[gl]=Información de Plugin de TDE
Name[he]=מידע על תוספים של TDE
Name[hi]=केडीई प्लगिन जानकारी
Name[hr]=Podaci o TDE dodatku
Name[hu]=A TDE bővítőmodulok áttekintése
Name[id]=Informasi Plugin TDE
Name[is]=TDE íforritsupplýsingar
Name[it]=Informazioni plugin TDE
Name[ja]=TDE プラグイン情報
Name[ka]=TDE მოდულის ინფორმაცია
Name[kk]=TDE модулі туралы мәлімет
Name[km]=ព័ត៌មាន​កម្មវិធី​ជំនួយ​ខាង​ក្នុង TDE
Name[ko]=TDE 플러그인 정보
Name[lb]=TDE-Plugininformatioun
Name[lt]=TDE priedų informacija
Name[lv]=TDE spraudņa informācija
Name[mk]=TDE Информација за приклучок
Name[mn]=КДЭ плугин мэдээлэл
Name[ms]=Maklumat Plugmasuk TDE
Name[nb]=TDEs informasjon om programtillegg
Name[nds]=Plugin-Informatschoon
Name[ne]=TDE प्लगइन सूचना
Name[nl]=TDE-plugininformatie
Name[nn]=Informasjon om TDE-programtillegg
Name[pa]=TDE ਪਲੱਗਿੰਨ ਜਾਣਕਾਰੀ
Name[pl]=Informacja o wtyczkach TDE
Name[pt]=Informação do 'Plugin' do TDE
Name[pt_BR]=Informações do Plug-in do TDE
Name[ro]=Informaţii modul TDE
Name[ru]=Сведения о модуле TDE
Name[rw]=Ibisobanuro by'Icomeka TDE
Name[se]=Dieđut TDE-moduvlla birra
Name[sk]=Informácia o module TDE
Name[sl]=Informacija o vstavkih v TDE
Name[sq]=Informata për Shtojca të TDE
Name[sr]=Информација о TDE dodatku
Name[sr@Latn]=Informacija o TDE dodatku
Name[sv]=TDE-insticksinformation
Name[ta]=TDE சொருகுப்பொருள் தகவல்
Name[te]=కెడిఈ ప్లగిన్ సమాచారం
Name[tg]=TDE барномаҳои чоп кунӣ
Name[th]=ข้อมูลปลั้กอินของ TDE
Name[tr]=TDE Eklenti Bilgisi
Name[tt]=TDE Östämäse Turında
Name[uk]=Інформація про втулок TDE
Name[uz]=TDE plagin haqida maʼlumot
Name[uz@cyrillic]=TDE плагин ҳақида маълумот
Name[vi]=Thông tin bộ cầm phít TDE
Name[wa]=Informåcion sol tchôke-divins di TDE
Name[zh_CN]=TDE 打印信息
Name[zh_HK]=TDE 外掛資訊
Name[zh_TW]=TDE 外掛資訊

[PropertyDef::X-TDE-PluginInfo-Author]
Type=TQString

[PropertyDef::X-TDE-PluginInfo-Email]
Type=TQString

[PropertyDef::X-TDE-PluginInfo-Name]
Type=TQString

[PropertyDef::X-TDE-PluginInfo-Version]
Type=TQString

[PropertyDef::X-TDE-PluginInfo-Website]
Type=TQString

[PropertyDef::X-TDE-PluginInfo-Category]
Type=TQString

[PropertyDef::X-TDE-PluginInfo-Depends]
Type=TQStringList

[PropertyDef::X-TDE-PluginInfo-License]
Type=TQString

[PropertyDef::X-TDE-PluginInfo-EnabledByDefault]
Type=bool
