[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KCModule
Name=TDE Control Module
Name[af]=TDE Beheer Module
Name[ar]=وحدة تحكم كيدي
Name[az]=TDE İdarə Modulu
Name[be]=Модуль кіравання TDE
Name[bg]=Контролен модул на TDE
Name[bn]=কে.ডি.ই. নিয়ন্ত্রণ মডিউল
Name[br]=Mollad kreizenn ren TDE
Name[bs]=TDE kontrolni modul
Name[ca]=Mòdul de control del TDE
Name[cs]=Ovládací modul TDE
Name[csb]=Kòntrolny mòduł pùltu TDE
Name[cy]=Modiwl Rheolaeth TDE
Name[da]=TDE-kontrolmodul
Name[de]=TDE-Kontrollmodul
Name[el]=Άρθρωμα ελέγχου του TDE
Name[eo]=TDE Agordmodulo
Name[es]=Módulo de control de TDE
Name[et]=TDE juhtimismoodul
Name[eu]=TDEren kontrol-modulua
Name[fa]=پیمانۀ کنترل TDE
Name[fi]=TDE:n ohjausmoduuli
Name[fr]=Module de configuration de TDE
Name[fy]=TDE konfiguraasjemodule
Name[ga]=Modúl Rialaithe TDE
Name[gl]=Módulo de Controlo de TDE
Name[he]=מודול תצורה של TDE
Name[hi]=केडीई नियंत्रण घटक
Name[hr]=TDE kontrolni modul
Name[hu]=TDE beállítómodul
Name[id]=Modul Kontrol TDE
Name[is]=TDE stjórneining
Name[it]=Modulo di controllo TDE
Name[ja]=TDE コントロールモジュール
Name[ka]=TDE-ს კონტროლის პულტი
Name[kk]=TDE басқару модулі
Name[km]=ម៉ូឌុល​ត្រួត​ពិនិត្យ​របស់ TDE
Name[ko]=TDE 제어 모듈
Name[lb]=TDE-Kontrollmodul
Name[lt]=TDE valdymo modulis
Name[lv]=TDE kontroles modulis
Name[mk]=TDE Контролен Модул
Name[mn]=TDED-Хяналтын Модул
Name[ms]=Modul Kawalan TDE
Name[nb]=TDE kontrollpanel-modul
Name[nds]=TDE-Kuntrullmoduul
Name[ne]=TDE नियन्त्रण मोड्युल
Name[nl]=TDE Configuratiemodule
Name[nn]=TDE-kontrollmodul
Name[nso]=Seripa sa Taolo ya TDE
Name[pa]=TDE ਕੰਟਰੋਲ ਮੈਡੀਊਲ
Name[pl]=Moduł centrum sterowania TDE
Name[pt]=Módulo de Controlo do TDE
Name[pt_BR]=Módulo de Controle do TDE
Name[ro]=Modul de control TDE
Name[ru]=Модуль управления TDE
Name[rw]=Igice cy'Igenzura TDE
Name[se]=TDE stivrrenmoduvla
Name[sk]=Ovládací modul TDE
Name[sl]=Nadzorni modul TDE
Name[sq]=Modula Kontrolues - TDE
Name[sr]=TDE-ов контролни модул
Name[sr@Latn]=TDE-ov kontrolni modul
Name[ss]=Sahluko sekulawula se TDE 
Name[sv]=TDE-inställningsmodul
Name[ta]=கேடிஇ கட்டுப்பாட்டு கூறு
Name[te]=కెడిఈ నియంత్రణ మాడ్యూల్
Name[tg]=Модулӣ TDE Control
Name[th]=โมดูลควบคุมของ TDE
Name[tr]=TDE Kontrol Modülü
Name[tt]=TDE İdärä Modulı
Name[uk]=Модуль центра керування TDE
Name[uz]=TDE boshqaruv moduli
Name[uz@cyrillic]=TDE бошқарув модули
Name[ven]=Phanele ndangula ya phirinthara
Name[vi]=Mô-đun điều khiển TDE
Name[wa]=Module di contrôle TDE
Name[xh]=Ulawulo Lwesicatshulwa we TDE
Name[zh_CN]=TDE 控制模块
Name[zh_HK]=TDE 控制模組
Name[zh_TW]=TDE 控制模組
Name[zu]=Ingxenye ye-TDE Control

[PropertyDef::X-KDE-FactoryName]
Type=TQString

[PropertyDef::X-KDE-RootOnly]
Type=bool

# a list of all components this KCM belongs to
[PropertyDef::X-KDE-ParentComponents]
Type=TQStringList

# the id of the parent in the TreeList
[PropertyDef::X-KDE-CfgDlgHierarchy]
Type=TQString

# sets the order of the modules in the TreeList/IconList
[PropertyDef::X-KDE-Weight]
Type=int

[PropertyDef::X-KDE-RootOnly]
Type=bool

[PropertyDef::X-KDE-IsHiddenByDefault]
Type=bool
