[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=TDECompressionFilter
Name=TDE Compression Filter
Name[af]=TDE Kompakteer Filter
Name[az]=TDE Sıxışdırma Filtri
Name[bg]=Компресиращ филтър
Name[bn]=কে.ডি.ই. সংকোচন ফিল্টার
Name[bs]=TDE filter za kompresovanje
Name[ca]=Filtre de compressió per al TDE
Name[cs]=Kompresní filtr TDE
Name[csb]=Filter kòmpresëji TDE
Name[cy]=Hidl Cywasgiad TDE
Name[da]=TDE Komprimeringsfilter
Name[de]=TDE-Komprimierungsfilter
Name[el]=Φίλτρο συμπίεσης του TDE
Name[eo]=TDE-kunpremo-filtrilo
Name[es]=Filtro de compresión de TDE
Name[et]=TDE pakkimise filter
Name[eu]=TDEren konpresio-iragazkia
Name[fa]=پالایۀ فشرده‌سازی TDE
Name[fi]=TDE:n pakkaussuodin
Name[fr]=Filtre de compression de TDE
Name[fy]=TDE kompresjefilter
Name[ga]=Scagaire Comhbhrúite TDE
Name[gl]=Filtro de Compresón de TDE
Name[he]=מסנן הדחיסה של TDE
Name[hi]=केडीई कंप्रेशन फ़िल्टर
Name[hr]=TDE filtr kompresije
Name[hu]=TDE tömörítésszűrő
Name[id]=Filter Kompresi TDE
Name[is]=TDE þjöppunarsía
Name[it]=Filtro di compressione TDE
Name[ja]=TDE 圧縮フィルタ
Name[ka]=TDE-ს შეკუმშვის ფილტრი
Name[kk]=TDE сығу сүзгісі
Name[km]=តម្រង​បង្ហាប់ TDE
Name[ko]=TDE 압축 거르개
Name[lb]=TDE-Kompressiounsfilter
Name[lt]=TDE suspaudimo filtras
Name[lv]=TDE Kompresijas FIltrs
Name[mk]=TDE филтер за компресија
Name[mn]=TDE-шахагчийн шүүлтүүр
Name[ms]=Penapis Pemadatan TDE
Name[mt]=Filtru tal-kompressjoni TDE
Name[nb]=Komprimeringsfilter for TDE
Name[nds]=TDE-Komprimerenfilter
Name[ne]=TDE सङ्खुचन फिल्टर
Name[nl]=TDE Compressiefilter
Name[nn]=TDE Kompresjonsfilter
Name[nso]=Sesekodi sa Pitleletso ya TDE
Name[pa]=TDE ਨਪੀੜਨ ਫਿਲਟਰ
Name[pl]=Filtr kompresji TDE
Name[pt]=Filtro de Compressão do TDE
Name[pt_BR]=Filtro de compressão do TDE
Name[ro]=Filtru de compresie TDE
Name[ru]=Фильтр сжатия TDE
Name[rw]=Muyunguruzi y'Iyegeranya TDE
Name[se]=TDE čoahkkáibáhkkenfilter
Name[sk]=TDE filter pre kompresiu
Name[sl]=Filter za stiskanje s TDE
Name[sq]=Filter për Ngjeshje - TDE
Name[sr]=TDE-ов компресиони филтер
Name[sr@Latn]=TDE-ov kompresioni filter
Name[ss]=Sisefo seminyenalisa se TDE
Name[sv]=TDE-kompressionsfilter
Name[ta]=கேடிஇ அழுத்த வடிகட்டி
Name[te]=కెడిఈ సంక్షిప్తపరిచె గలని
Name[tg]=TDE Газполои Фушурдашуда
Name[th]=ตัวกรองการบีบอัดของ TDE
Name[tr]=TDE Sıkıştırma Filtresi
Name[tt]=TDE'nıñ Qısu Sözgeçe
Name[uk]=Фільтр стискання TDE
Name[uz]=TDE qisish filteri
Name[uz@cyrillic]=TDE қисиш филтери
Name[ven]=Filithara yau tsikeledza ya TDE
Name[vi]=Bộ lọc nén TDE
Name[xh]=Isihluzi Sodibaniso se TDE
Name[zh_CN]=TDE 压缩过滤程序
Name[zh_HK]=TDE 壓縮過濾器
Name[zh_TW]=TDE 壓縮過濾器
Name[zu]=Ihluzo Lokunciphisa le-TDE
