[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=KDataTool
Comment=TDE Data Tool
Comment[af]=TDE Data Program
Comment[ar]=أداة كيدي للبيانات
Comment[az]=TDE Verilənlər Vasitəsi
Comment[be]=Інструмент працы з даннямі TDE
Comment[bn]=কে.ডি.ই তথ্য টুল
Comment[br]=Ostilh roadoù evit TDE
Comment[bs]=TDE alat za podatke
Comment[ca]=Eina per a la gestió de dades per al TDE
Comment[cs]=Datový nástroj TDE
Comment[csb]=Nôrzãdze pòdôwków TDE
Comment[cy]=Erfyn Data TDE
Comment[da]=TDE-dataværktøj
Comment[de]=TDE-Datenprogramm
Comment[el]=Εργαλείο δεδομένων του TDE
Comment[eo]=Datumilo
Comment[es]=Herramienta TDE de datos
Comment[et]=TDE andmete rakendus
Comment[eu]=TDEren datuen tresna
Comment[fa]=ابزار دادۀ TDE
Comment[fi]=TDE:n datatyökalu
Comment[fr]=Outil de données TDE
Comment[fy]=TDE data-helpprogramma
Comment[ga]=Uirlis Sonraí TDE
Comment[gl]=Ferramenta de Dados de TDE
Comment[he]=כלי נתונים של TDE
Comment[hi]=केडीई डाटा टूल
Comment[hr]=TDE alat za podatke
Comment[hu]=TDE adatkezelő segédprogram
Comment[id]=Tool Data TDE
Comment[is]=TDE gagnatól
Comment[it]=Strumenti dati di TDE
Comment[ja]=TDE データツール
Comment[ka]=TDE-ს მონაცემების დამმუშავებელი
Comment[kk]=TDE дерек өңдеу құралы
Comment[km]=ឧបករណ៍​ទិន្នន័យ TDE
Comment[ko]=TDE 자료 연장
Comment[lb]=TDE-Donnéen-Hëllefsprogramm
Comment[lt]=TDE duomenų priemonė
Comment[lv]=TDE Datu Rīks
Comment[mk]=TDE податочна алатка
Comment[mn]=TDE-Өгөгдөл боловсруулах программ
Comment[ms]=Alatan Data TDE
Comment[mt]=Għodda għal data TDE
Comment[nb]=TDE Dataverktøy
Comment[nds]=TDE-Datenwarktüüch
Comment[ne]=TDE डेटा उपकरण
Comment[nl]=TDE Data-hulpprogramma
Comment[nn]=TDE Dataverktøy
Comment[nso]=Sebereka sa Data ya TDE
Comment[pa]=TDE ਡਾਟਾ ਸੰਦ
Comment[pl]=Narzędzie danych TDE
Comment[pt]=Ferramenta de Dados do TDE
Comment[pt_BR]=Ferramenta de Dados do TDE
Comment[ro]=Utilitar de date TDE
Comment[ru]=Утилита обработки информации TDE
Comment[rw]=Igikoresho cy'Ibyatanzwe TDE
Comment[se]=TDE dáhtareaidu
Comment[sk]=Dátový nástroj TDE
Comment[sl]=Podatkovno orodje za TDE
Comment[sq]=Vegla për të Dhëna - TDE
Comment[sr]=TDE-ов алат за податке
Comment[sr@Latn]=TDE-ov alat za podatke
Comment[ss]=Lithulusi lemniningwane lengakahlutwa ye TDE 
Comment[sv]=TDE-dataverktyg
Comment[ta]=கேடிஇ தகவல் கருவி
Comment[te]=కెడిఈ దత్తాంశం పనిముట్టు
Comment[tg]=TDE Асбоби Сана
Comment[th]=เครื่องมือข้อมูลของ TDE
Comment[tr]=TDE Veri Aracı
Comment[tt]=TDE'nıñ Eşkärtü Qoralı
Comment[uk]=Засіб роботи з даними TDE
Comment[uz]=TDE maʼlumot vositasi
Comment[uz@cyrillic]=TDE маълумот воситаси
Comment[ven]=Tshishumiswa tsha data tsha TDE
Comment[vi]=Công cụ dữ liệu TDE.
Comment[xh]=Isihluzi se Data ye TDE
Comment[zh_CN]=TDE 数据工具
Comment[zh_HK]=TDE 資料工具
Comment[zh_TW]=TDE 資料工具
Comment[zu]=Ithuluzi Ledata le-TDE

[PropertyDef::Commands]
Type=TQStringList

[PropertyDef::DataType]
Type=TQString

[PropertyDef::DataMimeTypes]
Type=TQStringList

[PropertyDef::ExcludeFrom]
Type=TQStringList
