[Desktop Entry]
Type=Service
Name=ELF Info
Name[af]=ELF Inligting
Name[ar]=معلومات ELF
Name[br]=Titouroù ELF
Name[ca]=Informació de ELF
Name[cs]=ELF info
Name[cy]=Gwybodaeth ELF
Name[da]=ELF-info
Name[de]=ELF-Info
Name[el]=Πληροφορίες ELF
Name[eo]=ELF-informo
Name[es]=Info ELF
Name[et]=ELF info
Name[fa]=اطلاعات ELF
Name[fi]=ELF-tiedot
Name[fr]=Informations ELF
Name[ga]=Eolas faoi ELF
Name[gl]=Inf. ELF
Name[he]=מידע ELF
Name[hi]=ELF जानकारी
Name[hr]=ELF informacije
Name[hu]=ELF-jellemzők
Name[is]=ELF upplýsingar
Name[it]=Informazioni ELF
Name[ja]=ELF 情報
Name[kk]=ELF мәліметі
Name[km]=ព័ត៌មាន ELF
Name[lt]=ELF informacija
Name[ms]=Maklumat ELF
Name[nds]=ELF-Info
Name[ne]=ELF सूचना
Name[nl]=ELF-info
Name[nn]=ELF-info
Name[nso]=Tshedimoso ya ELF
Name[pa]=ELF ਜਾਣਕਾਰੀ
Name[pl]=Informacja o pliku ELF
Name[pt]=Informação do ELF
Name[pt_BR]=Informação sobre ELF
Name[ro]=Informaţii ELF
Name[ru]=Информация о ELF
Name[se]=ELF-dieđut
Name[sl]=Podatki o ELF
Name[sr]=ELF информације
Name[sr@Latn]=ELF informacije
Name[sv]=ELF-information
Name[ta]=ELF தகவல்
Name[tg]=Иттилоот оиди ELF
Name[th]=ข้อมูลแฟ้ม ELF
Name[tr]=ELF Bilgisi
Name[uk]=Інформація по ELF
Name[uz]=ELF haqida maʼlumot
Name[uz@cyrillic]=ELF ҳақида маълумот
Name[ven]=Mafhungo ELF
Name[wa]=Informåcion sol imådje ELF
Name[xh]=Ulwazi lwe ELF
Name[zh_CN]=ELF 信息
Name[zh_HK]=ELF 資訊
Name[zh_TW]=ELF 資訊
Name[zu]=Ulwazi lwe-ELF
ServiceTypes=KFilePlugin
X-TDE-Library=kfile_elf
MimeType=application/x-executable
PreferredItems=Name,Description,License,Copyright,Authors,Product,Organization,Version,DateTime,Notes"
SupportsThumbnail=false