[Desktop Entry]
Type=Service
Name=KMCOP
Name[hi]=के-एमकॉप 
Name[te]=కెఎంకాప్
Exec=kmcop
Comment=TDE MCOP-DCOP Bridge
Comment[af]=TDE MCOP-DCOP Brug
Comment[ar]=جسر TDE MCOP-DCOP
Comment[az]=TDE MCOP-DCOP Körpüsü
Comment[be]=Сувязь MCOP/DCOP
Comment[bn]=কে.ডি.ই MCOP-DCOP ব্রিজ
Comment[br]=Pont TDE MCOP-DCOP
Comment[bs]=TDE MCOP-DCOP prelaz
Comment[ca]=Connector MCOP-DCOP per al TDE
Comment[cs]=TDE MCOP-DCOP můstek
Comment[csb]=Mostk TDE MCOP-DCOP
Comment[cy]=Pont MCOP-DCOP TDE
Comment[da]=TDE MCOP-DCOP-bro
Comment[de]=Verbindung zwischen MCOP und DCOP
Comment[el]=Γέφυρα MCOP-DCOP του TDE
Comment[eo]=TDE-ponto inter MCOP-DCOP
Comment[es]=Puente TDE MCOP-DCOP
Comment[et]=TDE MCOP-DCOP sild
Comment[eu]=TDEren MCOP-DCOP zubia
Comment[fa]=پل TDE MCOP-DCOP
Comment[fi]=MCOP-DCOP -silta
Comment[fo]=TDE MCOP-DCOP-brúgv
Comment[fr]=Passerelle MCOP-DCOP pour TDE
Comment[ga]=Droichead TDE idir MCOP agus DCOP
Comment[gl]=Ponte MCOP-DCOP de TDE
Comment[he]=גשר MCOP-DCOP ל־TDE
Comment[hi]=केडीई MCOP-डीकॉप ब्रिज
Comment[hr]=TDE most MCOP-DCOP
Comment[hsb]=TDE MCOP-DCOP-móst
Comment[hu]=TDE MCOP-DCOP összekötőprogram
Comment[id]=Jembatan TDE MCOP-DCOP
Comment[is]=TDE MCOP-DCOP brú
Comment[it]=Ponte MCOP-DCOP per TDE
Comment[ja]=TDE MCOP-DCOP ブリッジ
Comment[ka]=TDE MCOP-DCOP ხიდი
Comment[kk]=TDE MCOP-DCOP көпірі
Comment[ko]=TDE MCOP-DCOP 브릿지
Comment[lb]=TDE-MCOP-DCOP-Bréck
Comment[lt]=TDE MCOP-DCOP tiltas
Comment[lv]=TDE MCOP-DCOP Tilts
Comment[mk]=TDE MCOP-DCOP Мост
Comment[mn]=TDE-н MCOP ба DCOP хоорондын гүүр
Comment[ms]=Jambatan TDE MCOP-DCOP
Comment[mt]=Pont bejn MCOP u DCOP
Comment[nb]=TDE MCOP-DCOP Bro
Comment[nds]=TDE-Brüch twischen MCOP un DCOP
Comment[ne]=TDE MCOP-DCOP ब्रिज
Comment[nn]=MCOP-DCOP-bru for TDE
Comment[nso]=Leporogo la TDE MCOP-DCOP
Comment[pa]=TDE MCOP-DCOP ਪੁੱਲ
Comment[pl]=Mostek MCOP-DCOP
Comment[pt]=Ponte MCOP-DCOP para o TDE
Comment[pt_BR]=Ligação TDE MCOP-DCOP
Comment[ro]=Punte MCOP-DCOP TDE
Comment[ru]=Мост MCOP-DCOP
Comment[rw]=Iteme MCOP-DCOP TDE
Comment[se]=TDE MCOP-DCOP šaldi
Comment[sk]=Most TDE MCOP-DCOP
Comment[sl]=Premostitelj MCOP-DCOP za TDE
Comment[sq]=Ura e TDE MCOP-DCOP-it
Comment[sr]=TDED MCOP-DCOP мост
Comment[sr@Latn]=TDED MCOP-DCOP most
Comment[ss]=Libhuloho le MCOP-DCOP ku TDE 
Comment[sv]=TDE MCOP-DCOP-brygga
Comment[ta]=கேடிஇ MCOP-DCOP பாலம்
Comment[te]=కెడిఈ ఎంసిఓపి-డిసిఓపి  వారధి
Comment[tg]=Пайвасти TDE MCOP-DCOP
Comment[th]=ตัวเชื่อม TDE MCOP-DCOP
Comment[tr]=TDE MCOP-DCOP Köprüsü
Comment[tt]=TDE MCOP-DCOP Küpere
Comment[uk]=Міст TDE MCOP-DCOP
Comment[uz]=TDE MCOP-DCOP koʻprigi
Comment[uz@cyrillic]=TDE MCOP-DCOP кўприги
Comment[ven]=TDE MCOP-DCOP Buroho
Comment[vi]=Cầu MCOP-DCOP của TDE
Comment[xh]=TDE MCOP-DCOP Ibhulorho
Comment[zh_CN]=TDE MCOP-DCOP 桥
Comment[zh_HK]=TDE MCOP-DCOP 橋樑
Comment[zh_TW]=TDE MCOP-DCOP 橋樑
Comment[zu]=Ibhulogo le-TDE MCOP-DCOP
Icon=kmcop
X-TDE-ServiceTypes=KMCOP
X-DCOP-ServiceType=Unique
X-TDE-StartupNotify=false
