[Desktop Entry]
Type=Service
Name=XZ Filter
Name[af]=XZ Filter
Name[ar]=فلتر XZ
Name[az]=XZ Filtri
Name[be]=Фільтр XZ
Name[bg]=Филтър XZ
Name[bn]=জি-জিপ (XZ) ফিল্টার
Name[br]=Sil XZ
Name[ca]=Filtre XZ
Name[cs]=Filtr XZ
Name[csb]=Filter XZ
Name[cy]=Hidl XZ
Name[da]=XZ-filter
Name[de]=XZ-Filter
Name[el]=Φίλτρο XZ
Name[eo]=XZ-filtrilo
Name[es]=Filtro XZ
Name[et]=XZ filter
Name[eu]=XZ iragazkia
Name[fa]=پالایۀ XZ
Name[fi]=XZ-suodin
Name[fr]=Filtre XZ
Name[fy]=XZ-filter
Name[ga]=Scagaire XZ
Name[gl]=Filtro XZ
Name[he]=מסנן XZ
Name[hi]=XZ फ़िल्टर
Name[hr]=XZ filtar
Name[hu]=XZ szűrő
Name[id]=Filter XZ
Name[is]=XZ sía
Name[it]=Filtro XZ
Name[ja]=XZ フィルタ
Name[ka]=XZ ფილტრი
Name[kk]=XZ сүзгісі
Name[km]=តម្រង XZ
Name[ko]=XZ 거르개
Name[lb]=XZ-Filter
Name[lt]=XZ filtras
Name[lv]=XZ Filtrs
Name[mk]=XZ филтер
Name[mn]=XZ-Filter
Name[ms]=Penapis XZ
Name[mt]=Filtru XZ
Name[nb]=XZ-filter
Name[nds]=XZ-Filter
Name[ne]=XZ फिल्टर
Name[nl]=XZ-filter
Name[nn]=XZ-filter
Name[nso]=Sesekodi sa XZ
Name[pa]=XZ ਫਿਲਟਰ
Name[pl]=Filtr XZ
Name[pt]=Filtro XZ
Name[pt_BR]=Filtro XZ
Name[ro]=Filtru XZ
Name[ru]=Фильтр XZ
Name[rw]=Muyunguruzi XZ 
Name[se]=XZ-filter
Name[sk]=XZ filter
Name[sl]=Filter za XZ
Name[sq]=Filteri XZ
Name[sr]=XZ филтер
Name[sr@Latn]=XZ filter
Name[ss]=Sisefo se XZ 
Name[sv]=XZ-filter
Name[ta]=XZ வடிகட்டி
Name[te]=జిజిప్ గలని
Name[tg]=Таровиши XZ
Name[th]=ตัวกรอง XZ
Name[tr]=XZ Filtresi
Name[tt]=XZ Sözgeçe
Name[uk]=Фільтр XZ
Name[uz]=XZ-filter
Name[uz@cyrillic]=XZ-филтер
Name[ven]=Filithara ya XZ
Name[vi]=Bộ lọc XZ
Name[wa]=Passete XZ
Name[xh]=Isihluzi se XZ
Name[zh_CN]=XZ 过滤程序
Name[zh_HK]=XZ 過濾器
Name[zh_TW]=XZ 過濾器
Name[zu]=Ihluzo le-XZ
X-TDE-Library=kxzfilter
ServiceTypes=TDECompressionFilter,application/x-xz,application/x-txz,application/x-lzma
