[Desktop Entry]
Type=Service
Name=TDE Tray Proxy Module
Name[af]=TDE Skinkbord Proksie Module
Name[bn]=কে.ডি.ই. ট্রে প্রক্সি মডিউল
Name[bs]=TDE proxy modul za tray
Name[ca]=Mòdul de safata d'intermediari del TDE
Name[cs]=Proxy modul panelu TDE
Name[csb]=Mòduł pòstrzédnika systemòwégò tablëtkù TDE
Name[da]=TDE-statusfelt proxy-modul
Name[de]=Proxy-Modul für den TDE-Systemabschnitt
Name[el]=Άρθρωμα διαμεσολαβητή πλαισίου συστήματος του TDE
Name[eo]=TDE-sistelistela prokurmodulo
Name[es]=Módulo Proxy de bandeja de TDE
Name[et]=TDE süsteemse salve proxy moodul
Name[eu]=TDEren erretiluko proxy-modulua
Name[fa]=پیمانۀ پیشکار سینی TDE
Name[fi]=TDE:n ilmoitusalueen välityspalvelinmoduuli
Name[fr]=Serveur mandataire pour les miniatures de TDE
Name[fy]=TDE Systeemfak Proxy Module
Name[ga]=Modúl Seachfhreastalaí do Thráidire TDE
Name[gl]=Módulo de simulación da bandexa de TDE
Name[he]=מתווך מגש מערכת של TDE
Name[hi]=केडीई ट्रे प्रॉक्सी मॉड्यूल
Name[hr]=TDE sistemski modul Proxy
Name[hu]=TDE paneltálca-proxy modul
Name[id]=Modul Proxy Baki TDE
Name[is]=TDE milliþjónseining spjaldsins
Name[it]=Modulo proxy per il vassoio di TDE
Name[ja]=TDE トレイプロキシモジュール
Name[ka]=TDE სისტემური ზოლის პროქსი მოდული
Name[kk]=TDE жүйелік сөресінің прокси модулі
Name[km]=ម៉ូឌុល​ប្រូកស៊ី TDE Tray
Name[lb]=Proxymodul fir TDE-Symbolleescht
Name[lt]=TDE dėklo proxy modulis
Name[mk]=TDE Модул за прокси во сис. лента
Name[ms]=Modul Dulang Proksi TDE
Name[nb]=TDE mellommodul
Name[nds]=Systeemafsnitt-Proxymoduul
Name[ne]=TDE ट्रे प्रोक्सी मोड्युल
Name[nl]=Proxy-module voor het TDE-systeemvak
Name[nn]=TDE-mellommodul for systemtrauet
Name[pa]=TDE ਟਰੇ ਪਰਾਕਸੀ ਮੈਡੀਊਲ
Name[pl]=Moduł pośrednika tacki systemowej TDE
Name[pt]=Módulo de 'Proxy' de Bandeja do TDE
Name[pt_BR]=Módulo de Proxy do Painel do TDE
Name[ro]=Modul proxy pentru tava de sistem TDE
Name[ru]=Модуль прокси системного лотка TDE
Name[rw]=Igice Igitwara Nyabubasha TDE
Name[se]=TDE-gaskamoduvla vuogádatgárccu várás
Name[sk]=Modul pre proxy lišty TDE
Name[sl]=Modul posrednika sistemske vrstice TDE
Name[sr]=Прокси модул TDE-ове касете
Name[sr@Latn]=Proksi modul TDE-ove kasete
Name[sv]=TDE-proxymodul för systembricka
Name[ta]=TDE தட்டு மாற்று பதிலாள் கூறு
Name[te]=కెడిఈ ట్రే ప్రాక్సీ మాడ్యూల్
Name[tg]=Новаи TDE-и модули прокси
Name[th]=โมดูลถาดพร็อกซีของ TDE
Name[tr]=TDE Görev Çubuğu Vekil Birimi
Name[tt]=TDE Tiräsenä Proxy Modulı
Name[uk]=Модуль посередника для програм в системному лотку
Name[vi]=Mô-đun ủy nhiệm khay TDE
Name[zh_CN]=TDE 托盘代理模块
Name[zh_TW]=TDE 系統匣代理模組
Comment=Proxy enabling TDE systray applications to work without TWin
Comment[af]=Proksie wat TDE 'systray' programme toelaat om sonder TWin te werk
Comment[bg]=Модул, който позволява на програмите от TDE да работят в системния панел с други мениджъри на прозорци
Comment[bn]=কে.ডি.ই. সিস-ট্রে অ্যাপলিকেশন কে-উইন ছাড়াই কাজ করাবার জন্য প্রক্সি
Comment[bs]=Proxy koji omogućuje TDE systray programima da rade izvan TWin-a
Comment[ca]=Habilitació d'intermediari per a les aplicacions de safata del sistema per a treballar sense TWin
Comment[cs]=Proxy umožňuje, aby TDE zabudované aplikace fungovaly i bez TWin
Comment[csb]=Pòstrzédnik dôwôjący mòżnotã robòtë programów brëkùjącëch systemòwégò tablëtkù TDE wëłączając z tegò TWin
Comment[da]=Proxy aktivering af TDE's statusfelt programmer til at virke uden TWin
Comment[de]=Proxy, der Programme im Systemabschnitt der Kontrollleiste auch ohne TWin als Fenstermanager funktionieren lässt
Comment[el]=Διαμεσολαβητής που επιτρέπει σε εφαρμογές πλαισίου συστήματος του TDE να λειτουργούν χωρίς το TWin
Comment[eo]=Prokuro ebligas TDEajn aplikaĵojn labori sen TWin
Comment[es]=Activación de Proxy de aplicaciones systray de TDE sin TWin
Comment[et]=Proxy, mis võimaldab TDE süsteemse salve rakendustel töötada ilma TWin'ita
Comment[eu]=TDEren erretiluko proxy-gaitze aplikazioak TWin gabe lan egiteko
Comment[fa]=پیشکار، کاربردهایTDE systray را برای کار کردن بدون TWin فعال می‌سازد
Comment[fi]=Välimuistipalvelin, jonka avulla ilmoitusalueen sovellukset voivat toimia ilman TWiniä
Comment[fr]=Serveur mandataire autorisant le fonctionnement des miniatures sans TWin
Comment[fy]=Troch Proxy kinne TDE systeemfak applikaasjes wurkje sûnder TWin
Comment[ga]=Seachfhreastalaí a cheadaíonn d'fheidhmchláir i dtráidire an chórais a oibriú gan TWin
Comment[gl]=Proxy que permite que as aplicación de TDE que usen a bandexa traballen sen TWin
Comment[he]=שרת המאפשל לתוכניות TDE להתחבר למגש המערכת ללא TWin
Comment[hi]=प्रॉक्सी जो के-विन के बगैर कार्य करने के लिए केडीई सिस्ट्रे अनुप्रयोगों को सक्षम करता है
Comment[hr]=Aplikacije za omogućavanje proxyja smještene u TDE sistemskoj traci, bez primjene TWin
Comment[hu]=TDE-s paneltálca-alkalmazások futtatása a TWin-től eltérő ablakkezelőknél
Comment[id]=Proxy untuk membuat aplikasi systray TDE berfungsi tanpa TWin
Comment[is]=Milliþjónseining fyrir TDE spjaldið sem virkar án TWin
Comment[it]=Permette alle applicazioni per il vassoio di TDE di funzionare senza TWin
Comment[ja]=TWin なしで TDE systray アプリケーションを動作可能にするプロキシ
Comment[ka]=TDE სისტემური ზოლის პროქსი მოდული პროგრამებისთვის TWin-ის გარეშე სამუშაოდ
Comment[kk]=TDE жүйелік сөредегі қолданбаға TWin-сіз жұмыс істеуге мүмкіншілік беретін прокси
Comment[km]=ប្រូកស៊ី​ដែល​អនុញ្ញាត​ឲ្យ​កម្មវិធី TDE systray ធ្វើការ​ដោយ​គ្មាន TWin
Comment[lb]=Proxy, deen et erméiglecht, dass Programmer fir d'TDE-Symbolleescht ouni de TWin funktionéieren
Comment[lt]=Proxy įgalinantis TDE sistemos dėklo taikomasias programas dirbti be TWin
Comment[mk]=Прокси кое им овозможува на TDE апликациите од сис. лента да работат без TWin
Comment[ms]=Aplikasi dulang sys dengan fungsi proksi untuk berfungsi tanpa TWin
Comment[nb]=Modul som gjør at systemkurvprogrammet for TDE kan fungere uten TWin
Comment[nds]=Disse Proxy lett Systeemafsnitt-Programmen ok ahn TWin lopen
Comment[ne]= TWin बाहेक कार्य गर्न प्रोक्सी सक्षम पार्ने TDE सिस्ट्रे
Comment[nl]=Proxy-module om toepassingen in het TDE-systeemvak te plaatsen die geen TWin ondersteuning hebben.
Comment[nn]=Modul som gjer at systemtrauprogram for TDE kan fungera uavhengig av TWin
Comment[pa]=TWin ਬਿਨਾਂ ਕੰਮ ਕਰਨ ਲਈ TDE systray ਕਾਰਜਾਂ ਲਈ ਪਰਾਕਸੀ ਯੋਗ
Comment[pl]=Pośrednik, umożliwiający działanie programów wymagających tacki systemowej TDE bez TWin
Comment[pt]='Proxy' que permite aplicações da bandeja de sistema do TDE funcionarem sem o TWin
Comment[pt_BR]=Habilita o funcionamento do proxy em aplicativos sem o TWin
Comment[ro]=Permite aplicaţiilor pentru tava de sistem TDE să lucreze fără suport din partea TWin
Comment[ru]=Прокси для системного лотка TDE для приложений, работающих без TWin
Comment[rw]=Nyabubasha ibashisha Amaporogaramu y'igitwarasisitemu TDE  gukora nta KWmo
Comment[se]=Moduvla mii dagaha ahte TDE:a vuogádatgárcoprográmmat doibmet TWin haga.
Comment[sk]=Proxy pre aplikácie z lišty TDE, aby nevyžadovali TWin
Comment[sl]=Posrednik, ki omogoča programom sistemske vrstice TDE, da delujejo brez TWin
Comment[sr]=Прокси који омогућава TDE програмима за системску касету да раде без TWin-а
Comment[sr@Latn]=Proksi koji omogućava TDE programima za sistemsku kasetu da rade bez TWin-a
Comment[sv]=Proxymodul som gör det möjligt för TDE:s program i systembrickan att fungera utan Kwin
Comment[ta]=மாற்று பதிலாள் TDE அமைப்பு தட்டு பயன்பாட்டை TWin இல்லாமல் வேலை செய்ய செயல்படுத்துகிறது
Comment[te]=కెవిన్ లేకుండా ప్రాక్సి ను వాడె కెడీఈ సిస్ ట్రే కార్యక్రమాలను పని చెYఇస్తుంది
Comment[tg]=Proxy барномаҳои TDE systray-ро барои корнамоӣ, бидуни TWin фаъол месозад
Comment[th]=แอพพลิเคชันถาดระบบของ TDE ที่เปิดความสามารถพร็อกซี สำหรับทำงานโดยไม่ต้องมี TWin
Comment[tr]=Vekil sunucu etkinleştirme TDE sistem çubuğu uygulamalarının TWin olmadan çalıştırır.
Comment[tt]=TWin'sız eşläwçe yazılımnar öçen TDE sistiräseneñ Proxy
Comment[uk]=Програма посередник, яка дозволяє працювати програмам для TDE, що використовують системний лоток, без TWin
Comment[vi]=Bộ ủy nhiệm hiệu lực các ứng dụng khay hệ thống TDE hoạt động, không cần TWin.
Comment[zh_CN]=允许 TDE 系统托盘应用程序在没有 TWin 的情况下工作
Comment[zh_TW]=系統匣代理模組讓系統匣應用程式不必靠 TWin 運作
X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=kdetrayproxy
X-TDE-FactoryName=kdetrayproxy
X-TDE-Kded-autoload=false
