[Desktop Entry]
Type=MimeType
MimeType=application/x-kcsrc
Icon=colorscm
Patterns=*.kcsrc;*.KCSRC
Comment=TDE Color Theme
Comment[af]=TDE Kleur Tema
Comment[ar]=سمة الألوان لTDE
Comment[az]=TDE Rəng Örtüyü
Comment[be]=Колерная схема TDE
Comment[bg]=Цветова схема на TDE
Comment[bn]=কে.ডি.ই. কালার থিম
Comment[br]=Giz liv TDE
Comment[bs]=TDE Tema boja
Comment[ca]=Tema de colors per a TDE
Comment[cs]=Motiv TDE barev
Comment[csb]=Zestôw farwów TDE
Comment[cy]= Thema Lliw TDE
Comment[da]=TDE Farvetema
Comment[de]=TDE-Farbdesign
Comment[el]=Θέμα χρωμάτων TDE
Comment[en_GB]=TDE Colour Theme
Comment[eo]=TDE-Etoso
Comment[es]=Tema de color de TDE
Comment[et]=TDE värviteema
Comment[eu]=TDE kolore-gaia
Comment[fa]=چهرۀ رنگ TDE
Comment[fi]=TDE:n väriteema
Comment[fr]=Thème de couleurs pour TDE
Comment[fy]=TDE Kleur tema
Comment[ga]=Téama Dathanna de chuid TDE
Comment[gl]=Tema de Cores de TDE
Comment[he]=ערכת צבע של TDE
Comment[hi]=केडीई रंग थीम
Comment[hr]=TDE tema boja
Comment[hu]=TDE színtéma
Comment[id]=Tema Warna TDE
Comment[is]=TDE litaþema
Comment[it]=Tema di colori TDE
Comment[ja]=TDE 色テーマ
Comment[ka]=TDE პალიტრები
Comment[kk]=TDE түсті нақышы
Comment[km]=ស្បែក​ពណ៌ TDE
Comment[ko]=TDE 색 테마
Comment[lb]=TDE-Faarfthema
Comment[lt]=TDE spalvų tema
Comment[lv]=TDE krāsu tēma
Comment[mk]=TDE-тема за боја
Comment[mn]=КДЭ Өнгө загвар
Comment[ms]=Tema Warna TDE
Comment[nb]=TDE fargetema
Comment[nds]=TDE-Klöörmuster
Comment[ne]=TDE रङ विषयवस्तु
Comment[nl]=TDE-kleurenthema
Comment[nn]=TDE-fargetema
Comment[pa]=TDE ਰੰਗ ਸਰੂਪ
Comment[pl]=Zestaw kolorów TDE
Comment[pt]=Tema de Cores do TDE
Comment[pt_BR]=Tema de Cores do TDE
Comment[ro]=Tematică de culori TDE
Comment[ru]=Темы TDE
Comment[rw]=Insanganyamatsiko y'Ibara TDE
Comment[se]=TDE ivdnefáddá
Comment[sk]=Farebná téma TDE
Comment[sl]=Barvna tema TDE
Comment[sq]=Temë Ngyrash nga TDE
Comment[sr]=TDE тема боја
Comment[sr@Latn]=TDE tema boja
Comment[sv]=TDE-färgtema
Comment[ta]=TDE வண்ணத்தலைப்பு
Comment[te]=కెడిఈ రంగుల వైవిద్యాంశం
Comment[tg]=TDE Рангҳои Мавзӯъ
Comment[th]=ชุดสีของ TDE
Comment[tr]=TDE Renkli Teması
Comment[tt]=TDE'nıñ Tösle Tışlaw
Comment[uk]=Тема кольорів TDE
Comment[uz]=TDE rang mavzusi
Comment[uz@cyrillic]=TDE ранг мавзуси
Comment[vi]=Sắc thái màu TDE
Comment[wa]=Tinme di coleurs TDE
Comment[zh_CN]=TDE 色彩主题
Comment[zh_HK]=TDE 色彩佈景
Comment[zh_TW]=TDE 色彩佈景
