[Desktop Entry]
Type=MimeType
MimeType=application/x-tde-wallet
Comment=TDE Wallet File
Comment[af]=TDE Beursie Lêer
Comment[ar]=ملف محفظة TDE
Comment[az]=TDE Wallet Faylı
Comment[be]=Файл кашалька TDE
Comment[bg]=Файл на системата Портфейл
Comment[bn]=কে.ডি.ই. ওয়ালেট ফাইল
Comment[br]=Restr TDE Wallet
Comment[bs]=TDE datoteka novčanika
Comment[ca]=Fitxer cartera de TDE
Comment[cs]=Soubor TDE Wallet
Comment[csb]=Lopk Pòrtfela TDE
Comment[cy]=Ffeil Waled TDE
Comment[da]=TDE's tegnebogsfil
Comment[de]=TDE-Brieftaschendatei
Comment[el]=Αρχείο πορτοφολιού του TDE
Comment[eo]=TDEa sekretejodosiero
Comment[es]=Archivo de cartera de TDE
Comment[et]=TDE turvalaeka fail
Comment[eu]=TDE Wallet fitxategia
Comment[fa]=پروندۀ TDE Wallet
Comment[fi]=TDE Wallet -tiedosto
Comment[fr]=Fichiers de TDEWallet
Comment[fy]=TDE Wallet-triem
Comment[ga]=Comhad TDE Wallet
Comment[gl]=Ficheiro Wallet de TDE
Comment[he]=קובץ אננק של TDE
Comment[hi]=केडीई बटुआ फ़ाइल
Comment[hr]=TDE Wallet datoteka
Comment[hu]=TDE digitális noteszfájl
Comment[id]=Berkas Dompet TDE
Comment[is]=TDE veski
Comment[it]=File portafogli di TDE
Comment[ja]=TDE ウォレットファイル
Comment[ka]=TDE ქისის ფაილი
Comment[kk]=TDE әмиян файлы
Comment[km]=ឯកសារ​កាបូប TDE
Comment[ko]=TDE 지갑 파일
Comment[lb]=TDE-Portmonnisdatei
Comment[lt]=TDE slaptažodinės byla
Comment[lv]=TDE Wallet fails
Comment[mk]=TDE-паричник
Comment[mn]=КДЭ Wallet файл
Comment[ms]=Fail TDE Wallet
Comment[nb]=TDE lommebokfil
Comment[nds]="TDE Wallet"-Datei
Comment[ne]=TDE वालेट फाइल
Comment[nl]=TDEWallet-portefeuillebestand
Comment[nn]=TDE Wallet-fil
Comment[pa]=TDE ਵਾਲਿਟ ਫਾਇਲ
Comment[pl]=Plik Portfela TDE
Comment[pt]=Ficheiro de Wallet do TDE
Comment[pt_BR]=Arquivo do TDE Wallet
Comment[ro]=Fişier portofel TDE
Comment[ru]=Файл бумажника TDE
Comment[rw]=Idosiye Uruhago TDE
Comment[se]=TDE Wallet-fiila
Comment[sk]=Súbor TDE Wallet
Comment[sl]=Datoteka Listnice za TDE
Comment[sq]=Skedë nga TDE Wallet
Comment[sr]=Фајлови TDE-овог новчаника
Comment[sr@Latn]=Fajlovi TDE-ovog novčanika
Comment[sv]=TDE-plånboksfil
Comment[ta]=TDE Wallet கோப்பு
Comment[te]=కెడిఈ వాలెట్ దస్త్రం
Comment[tg]=Парвандаи Файли  TDE
Comment[th]=แฟ้มกระเป๋าเงิน TDE (เก็บข้อมูลส่วนบุคคล)
Comment[tr]=TDE Cüzdan Dosyası
Comment[tt]=TDE Wallet Bireme
Comment[uk]=Файл торбинки TDE
Comment[uz]=TDE Wallet-fayli
Comment[uz@cyrillic]=TDE Wallet-файли
Comment[vi]=Tập tin TDE Wallet
Comment[zh_CN]=TDE 钱包文件
Comment[zh_HK]=TDE  公事包檔案
Comment[zh_TW]=TDE  公事包檔案
Patterns=*.kwl
X-TDE-AutoEmbed=false

