[Desktop Entry]
Type=Service
Name=kio_uiserver
Name[de]=Server der graphischen Oberfläche
Name[fy]=Kio_uiserver
Name[ja]=kio_uiサーバ
Name[mn]=График гадаргуугийн сервер
Name[nds]=kio_uiserver, Server för de graafsche Böversiet
Name[nl]=Kio_uiserver
Name[nso]=kio_uiseabi
Name[ro]=Kio_uiserver
Name[sv]=Kio-gränssnittsserver
Name[ta]=kio_uiசேவையகம்
Name[te]=కేఐఓ_యుఐసెర్వర్
Exec=kio_uiserver
Comment=TDE's Progress Info UI server
Comment[af]=TDE se vordering inligting UI bediener
Comment[ar]=خادم معلومات تقدم واجهة كيدي
Comment[az]=TDE'nin İrəliləmə Bilgisi İstifadaçi Ara Üz Vericisi
Comment[be]=Сервер паведамленняў аб выкананні дзеянняў
Comment[bg]=Сървър за отчитане на прогреса (TDE's Progress Info UI server)
Comment[bn]=কে.ডি.ই. অগ্রগতি তথ্য UI সার্ভার
Comment[br]=Servijer stlenn EA Progress TDE
Comment[bs]=TDEov Progess Info UI server
Comment[ca]=Servidor d'informació de progrés del TDE
Comment[cs]=UI server zobrazující informace o průběhu
Comment[csb]=Serwer wëdowiédzë ò pòkròkù procesë
Comment[cy]=Gweinydd UI TDE i Ddangos Cynnydd
Comment[da]=TDE's fremgangsinfo-UI-server
Comment[de]=Ein UI-Server, der Fortschrittsinformationen darstellt
Comment[el]=Εξυπηρετητής πληροφοριών προόδου περιβάλλοντος χρήσης του TDE
Comment[eo]=Progresinforma servo
Comment[es]=Servidor UI de información de progreso de TDE
Comment[et]=TDE edenemise info UI server
Comment[eu]=TDEren aurrerapen-informazioen UI zerbitzaria
Comment[fa]=اطلاعات پیشرفت کارساز  UI TDE
Comment[fi]=TDE:n edistymispalkin käyttöliittymäpalvelin
Comment[fr]=Serveur graphique d'infos de progression de TDE
Comment[fy]=TDE's tsjinner foar ynformaasje oer de fuortgong
Comment[gl]=Servidor UI de Información de Progreso de TDE
Comment[he]=שרת ממשק מידע ההתקדמות של TDE
Comment[hi]=केडीई का प्रोग्रेस जानकारी UI सर्वर
Comment[hr]=TDEov Progess Info UI poslužitelj
Comment[hu]=TDE folyamatinformációs kiszolgáló
Comment[id]=Perkembangan TDE mengenai info server UI
Comment[is]=Þjónn sem sýnir framvindu ferla
Comment[it]=Server informazioni avanzamento di TDE
Comment[ja]=TDE 進捗情報 UI サーバ
Comment[ka]=TDE-ს მონაცემთა გადაცემის სერვერი
Comment[kk]=TDE деректерді алу-беруді бақылау сервері
Comment[km]=ម៉ាស៊ីន​បម្រើ UI នៃ​ព័ត៌មាន​វឌ្ឍនភាព​របស់ TDE
Comment[ko]=TDE에서 보다 발전된 정보 UI 서버
Comment[lb]=UI-Server vu TDE, dee Fortschrëttsinformatiounen uweist
Comment[lt]=TDE eigos informacijos UI serveris
Comment[lv]=TDE Progresa Info UI serveris
Comment[mk]=TDE сервер за информации за прогресот
Comment[mn]=Прогресс мэдээллээр дүрслэгдсэн хэрэглэгчийн харьцах хэсгийн сервер
Comment[ms]=Pelayan Info UI TDE
Comment[mt]=Server tal-progress tal-UI TDE
Comment[nb]=TDE UI-tjener for framgangsinfo
Comment[nds]=Server för graafsche Vörankamen-Informatschonen
Comment[ne]=TDE को प्रगति सूचना UI सर्भर
Comment[nl]=TDE's server voor informatie over de voortgang.
Comment[nn]=TDE UI-tenar for framgangsinfo
Comment[nso]=Seabi sa UI ya Tshedimoso ya Tswelopele ya TDE
Comment[oc]=Servor d'informacion de progress TDE
Comment[pa]=TDE ਦੀ ਤਰੱਕੀ ਜਾਣਕਾਰੀ UI ਸਰਵਰ
Comment[pl]=Serwer informacji o postępie procesu
Comment[pt]=Servidor de informações sobre o progresso das operações
Comment[pt_BR]=Servidor de informação de progresso do TDE
Comment[ro]=Server informaţii de progres TDE
Comment[ru]=Сервер монитора передачи данных TDE
Comment[rw]=Amakuru y'Aho bigeze ya TDE Seriveri UI
Comment[se]=TDE:a ovdánandieđuid UI-bálvá
Comment[sk]=TDE Progres Info UI server
Comment[sl]=Strežnik TDE's Progress Info UI
Comment[sq]=UI Shërbyesi për Informimin e Progresit të TDEs
Comment[sr]=TDE-ов UI сервер информација о напретку
Comment[sr@Latn]=TDE-ov UI server informacija o napretku
Comment[sv]=TDE:s server för förloppsinformation
Comment[ta]=கேடிஇயின் முன்னேற்ற தகவல் முகப்புப் சேவையகம்
Comment[te]=కెడిఈ యొక్క ప్రగతి సమాచార యూఐ సెర్వర్
Comment[tg]=Инкишофи TDE's Info UI Сервер
Comment[th]=เซิร์ฟเวอร์แสดงข้อมูลความคืบหน้าของ TDE
Comment[tr]=TDE'nin İlerleme Bilgisi arayüz sunucusu
Comment[tt]=TDE'nıñ Alğakiteşne Küzätü servere
Comment[uk]=Сервер графічного інтерфейсу інформації про розвиток TDE
Comment[uz]=TDE'ning maʼlumot uzatishni nazorat qilish serveri
Comment[uz@cyrillic]=TDE'нинг маълумот узатишни назорат қилиш сервери
Comment[ven]=UI siva ya mafhungo a mwelaphanda a TDE
Comment[vi]=Trình phục vụ giao diện người dùng cho thông tin tiến hành của TDE.
Comment[xh]=Umcedisi we UI Wenqubela Yenkcukacha we TDE
Comment[zh_CN]=TDE 的进度信息用户界面服务器
Comment[zh_HK]=TDE 的進度資訊介面伺服程式
Comment[zh_TW]=TDE 的進度資訊使用者介面伺服器
Comment[zu]=Umlekeleli we-UI Yolwazi Lwenqubo lwe-TDE
ServiceTypes=
# It is a server
X-DCOP-ServiceType=Unique
X-TDE-StartupNotify=false
